[Unit]
Description=SmartHome toggle button startup service
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/SmartHome-Demo/ocf-servers/js-servers/button-toggle.js
Environment='NODE_PATH=/opt/SmartHome-Demo/node_modules/'
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
