{% extends 'index.html' %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sh-training.css') }}">
    <script src="{{ url_for('static', filename='js/sh-training.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="mdl-grid section--center" style="padding: 16px;"> 
        <!--<div class="mdl-cell mdl-cell--12-col">-->
		<div class="mdl-card mdl-shadow--2dp mdl-cell--8-col">
			<div class="mdl-card__title mdl-card--expand">
                <h5 class='title_style'>Train Models</h5>
            </div>
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <div class="mdl-card_form ml_10">
			    <table class='table_from'>
				    <tr>
					    <td class='td_titel'><label for="dataset_title">Dataset</label></td>
					    <td class='td_text'><input id="dataset_title" class="mdl_text ml_5" type="text" placeholder="Choose a dataset." readonly="readonly" required autofocus><input type="button" id="choose_training" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect ml_5" value ="Choose"></td>
					</tr>
					<tr>
					    <td class='td_titel'><label for="model_name">Model Name</label></td>
						<td class='td_text'><input id="model_name" class="mdl_text ml_5" type="text" required maxlength="50" pattern="^[a-zA-Z]+[-A-Za-z0-9_. ]{1,50}$" placeholder="Input model name. "><input type="button" id="Training_test" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect ml_5" value ="Train"></td>
					</tr>
                    <tr>
                        <td class='td_titel'></td>
                        <td class='td_text'><p class="error"></p></td>
                    </tr>
				</table>  
			</div> <!--end for form-->
          </div> <!--end for supporting text -->
          
     
		</div> <!-- end for mdl cardi col-8 -->
	    <div id="div_img_training" class="mdl-card mdl-shadow--2dp mdl-cell--4-col">
		    <!--img style="width:323px;height:210px;" id="img_training"/>-->
		</div>

	    <div class="card-container mt_5" id="model_list" style="clear:both;">
	    </div>
	<!--</div>-->  
    </section>
{% endblock %}
