<!DOCTYPE html>
<html lang="en">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Smart Home Web Portal project is a reference implementation of connecting gateway, gathering sensor information, analyzing the data in Cloud and showing the meaningful information on web..">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart Home</title>

{#    <!-- Add to homescreen for Chrome on Android -->#}
{#    <meta name="mobile-web-app-capable" content="yes">#}
{#    <link rel="icon" sizes="192x192" href="{{ static_url_prefix }}image/android-desktop.png">#}
{##}
{#    <!-- Add to homescreen for Safari on iOS -->#}
{#    <meta name="apple-mobile-web-app-capable" content="yes">#}
{#    <meta name="apple-mobile-web-app-status-bar-style" content="black">#}
{#    <meta name="apple-mobile-web-app-title" content="Smart Home">#}
{#    <link rel="apple-touch-icon-precomposed" href="{{ static_url_prefix }}image/ios-desktop.png">#}

{#    <!-- Tile icon for Win8 (144x144 + tile color) -->#}
{#    <meta name="msapplication-TileImage" content="{{ static_url_prefix }}image/touch/ms-touch-icon-144x144-precomposed.png">#}
{#    <meta name="msapplication-TileColor" content="#3372DF">#}

    <link rel="shortcut icon" href="{{ static_url_prefix }}image/favicon.ico">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.3/material.min.css">
    <link rel="stylesheet" href="{{ static_url_prefix }}css/styles.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.1.3/material.indigo-pink.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.3/material.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data-2010-2020.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.2.1/echarts.min.js"></script>
    <script type="text/javascript">
        //declare all the global variables
        window.socket;
        window.socket = null;

        //The variable panel represents the current panel displayed by the browser.
        //0: Initial. No panel is specified.
        //1: the Now panel.
        //2: the Before panel
        //3: the Future panel
        window.panel;
        window.panel=0;

        window.now_timer = null;
        window.time_timer = null;
        window.weather_timer = null;

        window.timezone = null;
        window.utc_offset = null;
    </script>
      <script type="text/javascript" src="{{ static_url_prefix }}js/common.js"></script>
      <script type="text/javascript" src="{{ static_url_prefix }}js/sh-base.js"></script>
      {% block head %}
    {% endblock %}
  </head>
  <body class="mdl-demo mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
      {% block header %}
      {% endblock %}
      {% block main %}
      {% endblock %}
    </div>
    {% block script %}
  {% endblock %}
  </body>
</html>
