
.card-container{
    width:100%;
    min-height:400px;
	background:#FFFFFF;
	box-shadow:0 0 8px rgba(0,0,0,.5);
}

.mdl-card-title-control{ margin-top:5px; margin-left:15px;background-color:#F00; height:40px; width:100%;}
.title_style{ margin-left:4%;}
.mdl-cell-extent{ hegiht:50px; }
.mdl-card-extent{
   margin-top:10px;
}

.mdl-card-height200{
   height:200px;
}


.mdl-card_form{
    width:100%; height:100px;
}

.mdl_btn{ background-color:#07acc0; width:70px;height:35px; padding:10px; text-align:center; text-decoration:none;border: none; color: white; cursor:pointer;}
.mdl_text{ height:25px; width: 50%;  font-size:25; }

.table_from{ width:80%;}
.td_titel{ width:100px;}
.td_titel p{ text-align:left; font-weight:bold; margin-bottom:0px;}
.td_text{ width:80%; padding: 2px 0 2px 0;}
.td_button{ width:80px;}

.ml_2{ margin-left:2px; }
.ml_5{ margin-left:5px; }
.ml_10{ margin-left:10px; }
.ml_15{ margin-left:15px; }
.ml_20{ margin-left:20px; }

.mt_5{ margin-top:5px; }
.mt_10{ margin-top:10px; }
.mt_15{ margin-top:15px; }
.mt_20{ margin-top:20px; }

.mb_10 {margin-bottom:10px; }
.mb_5 {margin-bottom:5px; }

.fl{float:left;}
.fr{float:right;}
.info-icon {font-size: 18px;}

.mdl-tooltip {
    will-change:unset;
}

/*input:required:invalid, input:focus:invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
}

input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
}*/

.error {
    padding-left: 1%;
    color: #FF0000;
    font-size: 12px;
}
